doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    include menu
    .container
      #tareas
        ul
          li(draggable="true") Tarea 1
          li(draggable="true") Tarea 2
          li(draggable="true") Tarea 3
      canvas#calendari(width="630", height="480")
    script(src="../javascripts/calendari.js")
