doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body

include menu


ul#actividades
  li.draggable(deporte) Deportes
  li.draggable(estudio) Estudio
  li.draggable(arte) Arte
  li.draggable(relajacion) Relajación
  li.draggable(Musica) Musica
  li.draggable(Botanica) Botanica




form#ofrecer-actividad(action="/Calendar", method="post")
  br
  br
  label(for="nombre-actividad") Nombre de la actividad:

  input(type="text", name="nombre-actividad", required)
  br 
  br 
  br 
  label(for="descripcion-actividad") Descripción de la actividad:
  textarea(name="descripcion-actividad", required)
  br
  br
  br 
  br
  label(for="horas-actividad") Horas disponibles para la actividad:
  input(type="text", name="horas-actividad", required)
  br
  input(type="hidden", name="tipo-actividad")
  br
  br
  button(type="submit") Enviar
 

