doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body

include menu


ul#actividades
  li.draggable(deporte) Deportes
  li.draggable(estudio) Estudio
  li.draggable(arte) Arte
  li.draggable(relajacion) Relajación
  li.draggable(Musica) Musica
  li.draggable(Botanica) Botanica




doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body

    include menu

    form(action="/formulari", method="POST")
      div
        label(for="nombre") Nombre de la actividad
        input(type="text", id="nombre", name="nombre", required)

      div
        label(for="id") ID de la actividad
        input(type="text", id="id", name="id", required)

      div
        label(for="descripcion") Descripción de la actividad
        input(type="text", id="descripcion", name="descripcion", required)

      div
        label(for="concepto") Concepto general de la actividad
        input(type="text", id="concepto", name="concepto", required)

      div
        label(for="duracion") Duración de la actividad
        input(type="text", id="duracion", name="duracion", required)

      button(type="submit") Agregar actividad

    script(src='../javascripts/formulari.js')
