doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    link(rel="stylesheet", href="../stylesheets/style.css")
  body
    include menu
    .container
      #map-container
        #mapa
    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
    script.
      document.addEventListener('DOMContentLoaded', () => {
        L.Icon.Default.imagePath = '/leaflet/images/';
        const map = L.map('mapa').setView([41.41283872125865, 2.1904812420523525], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
          maxZoom: 18,
        }).addTo(map);
        L.marker([41.41283872125865, 2.1904812420523525]).addTo(map).bindPopup('Lloc de reunio');
      });
