nav#main-nav.main-nav
  ul.menu
    li.menu__item: a.menu__link(href="/MisEventos") Mis Eventos
    li.menu__item: a.menu__link(href="/formulari") Formulari
    li.menu__item: a.menu__link(href="/calendari") Calendari 
    li.menu__item: a.menu__link(href="/mapa") Contacte
    li.menu__item: a.menu__link(href="/") Logout
